NUXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here
UPSTASH_REDIS_REST_URL=https://your-db-name.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_rest_token_here
172.105.184.178,
token=argon2:=19=10240,t=10,p=8/T03kiKpEtC28NoddACTO9vlpH75C89TyNTELTcA34

172.105.174.70
token=argon2:$argon2id$v=19$m=10240,t=10,p=8$vlpLzTZjOIPrMmfKUKtzuQ$2/T03kiKpEtC28NoddACTO9vlpH75C89TyNTELTcA34
